.FullPost {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    display: flex;
    flex-direction: column;
}

.FullPost p {
    text-align: left;
    padding: 10px;
}

.FullPost small {
    text-align: right;
    padding: 1px 1px 15px 1px;
}

.FullPost button {
    width: 150px;
    align-self: flex-end;
    border: 0px;
    border-top-left-radius: 15px;
    cursor: pointer;

}

.FullPost button:hover {
    background-color: aquamarine;
    
}